<div class="mt-4" style="text-align: center;">

  <h3 class="text-light">Created for web technologies lab(CSL68) 20 marks component</h3>
    
    <div class="mainbox" style="display: flex; justify-content: center;">
      <div class="card m-1" style="width: 18rem;">
        <img class="card-img-top" src="assets/harsha.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Harsha Narayan</h5>
          <p class="card-text">USN:1MS17CS035 <br>harshahnarayan@gmail.com <br>9945635522</p>
          <a href="https://github.com/hhn20" class="btn btn-primary">GitHub</a>
        </div>
      </div>

      <div class="card m-1" style="width: 18rem;">
        <img class="card-img-top" src="assets/dhruva.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Dhruva Narayan</h5>
          <p class="card-text">USN:1MS17CS029 <br>dhruvix7@gmail.com <br>9886771115</p>
          <a href="https://github.com/dhruvix" class="btn btn-warning">GitHub</a>
        </div>
      </div>

      <div class="card m-1" style="width: 18rem;">
        <img class="card-img-top" src="assets/GeethaJ.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Dr. Geetha J.</h5>
          <p class="card-text">Dr. Geetha J. is working as an Associate Professor in Computer Science Department of Ramaiah Institute of Technology.</p>
          <a href="http://msrit.edu/department/faculty-detail.html?dept=cse&ID=15" class="btn btn-danger">Bio</a>
        </div>
      </div>

      <div class="card m-1" style="width: 18rem;">
        <img class="card-img-top" src="assets/NoImage.gif" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mrs. Srilakshmi Hk</h5>
          <p class="card-text">Mrs. Srilakshmi Hk is working as a Programmer in Computer Science Department of Ramaiah Institute of Technology.</p>
          <a href="https://www.linkedin.com/in/srilakshmi-hk-a6b50156/" class="btn btn-success">Bio</a>
        </div>
      </div>
    </div>
</div>
