<div class="mt-4" style="text-align: center;">

  <h3 class="text-light">Created for web technologies lab(CSL68) 6th semester May 2020</h3>
    
    <div class="mainbox">
      <div class="card m-1" style="width: 18rem;">
        <img class="card-img-top" src="assets/harsha.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Harsha Narayan</h5>
          <p class="card-text">USN:1MS17CS035 <br>harshahnarayan@gmail.com <br>9945635522</p>
          <a href="https://github.com/hhn20" class="btn btn-primary">GitHub</a>
        </div>
      </div>

      <div class="card m-1" style="width: 18rem;">
        <img class="card-img-top" src="assets/dhruva.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Dhruva Narayan</h5>
          <p class="card-text">USN:1MS17CS029 <br>dhruvix7@gmail.com <br>9886771115</p>
          <a href="https://github.com/dhruvix" class="btn btn-warning">GitHub</a>
        </div>
      </div>

    </div>
</div>