<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark">
  <nav class="navbar sticky-top navbar-expand navbar-dark" style="background-color: #1a1a1a;">
    <a class="navbar-brand" href="">
      <img src="assets/nss-logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link btn btn-outline-info m-2" role="button" aria-pressed="true" routerLink="add-student">Add Student</a>
        <a class="nav-item nav-link btn btn-outline-info m-2" role="button" aria-pressed="true" routerLink="display-student">Display Student</a>
        <a class="nav-item nav-link btn btn-outline-danger m-2" role="button" aria-pressed="true" routerLink="add-bdc">Add BDC</a>
        <a class="nav-item nav-link btn btn-outline-danger m-2" role="button" aria-pressed="true" routerLink="display-bdc">Display BDC</a>
        <a class="nav-item nav-link btn btn-outline-success m-2" role="button" aria-pressed="true" routerLink="about">About</a>
        <a class="nav-item nav-link btn btn-outline-warning m-2" role="button" aria-pressed="true" href="http://harsha-dhruva-tictactoe.surge.sh/">Feeling Bored?</a>
        </div>
      </div>
  </nav>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</body>