<div class="container">

    <h2 class="text-warning">Edit BDC participant</h2>

    <div *ngIf="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Details Updated!</strong> The data has been updated in BDC table.
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
    <form [formGroup]="updateBDC" (ngSubmit)="editData()">
    <div class="form-group">
      <label class="text-warning">Name</label>
      <input type="text" class="form-control" placeholder="Enter name" formControlName="name">
      <label class="text-warning">Email address</label>
      <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
      <label class="text-warning">Phone Number</label>
      <input type="text" class="form-control" placeholder="Enter phone no." formControlName="ph_no">
    </div>
    <button type="submit" class="btn btn-warning">Update</button>
    </form>
</div>
